<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.target1">

    <application
        android:allowBackup="true"
        android:label="@string/siyehua_app_name"
        android:supportsRtl="true">
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>
